<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleCellAutolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7FEA8F71CACBCAE00D6F0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7FEA9101CACBCAF00D6F0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7FEA91B1CACBCAF00D6F0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
